html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    text-align: left;
}
h1, h2, h3, h4, h5, p {
    color: white;
    font-family: Console, sans-serif;
    margin: 1em;
    padding: 0;
}
h1 {
    font-family: Console, monospace;
    font-size: 5vmax;
}
h2 {
    font-size: 2.5vmax;
    padding-bottom: .25em;
}
h3 {
    font-size: 1.75vmax;
}
h4 {
    font-size: 1.25vmax;
}
a {
    font-size: 1.75vmax;
    width: auto;
    font-weight: bold;
    color: white;
    margin: 0em .1em;
    text-decoration: none;
    transform: scale3d(.9,.9,.9);                                                        
}
a:hover {                                                                            
    transform: scale3d(1,1,1);                                                        
    text-decoration: underline;
}                                                                                         
ul.a {
    color: white;

    list-style-type: disc;
}
em {
    text-decoration: none;
    font-style: normal;
    color: #D20000;
}
div {
    display: inline-block;
    width: auto;
    height: auto;
    margin: -5px 0em;
    vertical-align: top;
}
i {
    color: white;
    padding: 0em .25em;
    font-size: 1.5vmax;
}

@keyframes enter_top {                                                                    
    0% {                                                                          
        transform: translateY(-100vh);                                
    }                                                         
    100% {                                                
        transform: initial;                   
    }                                 
}                
@keyframes enter_left {                                                                    
    0% {                                                                          
        transform: translateX(-100vw);  
    }                                                         
    100% {                                                
        transform: initial;                   
    }                                 
}                             

#title {                                  
    position: relative;           
    transform: translateX(-100vw);
    animation-name: enter_left;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}             
#list {        
    position: relative;
    transform: translateX(-100vw);
    animation-name: enter_left;
    animation-delay: .8s;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

